global:
  message: "Welcome to Global Microservice Environment!"

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,refresh

logging:
  level:
    root: INFO

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

endpoint:
    health:
      show-details: always
